In [1]:
import pandas as pd
import shorthand as shnd

s = shnd.Shorthand(
    entry_syntax="shorthand/resources/default_entry_syntax.csv",
    link_syntax="shorthand/resources/default_link_syntax.csv",
    item_separator='__',
    default_entry_prefix='wrk',
    space_char='|',
    na_string_values='!',
    na_node_type='missing',
    syntax_case_sensitive=False
)

parsed = s.parse_text(
    'shorthand/test_data/manual_annotation.shnd',
    skiprows=2,
    comment_char='#'
)
links = parsed.links
links.iloc[60:]
'''
print('       strings', parsed.strings.memory_usage(deep=True).sum()/1000, 'kb')
print('         links', parsed.links.memory_usage(deep=True).sum()/1000, 'kb')
print('resolved links', parsed.resolve_links().memory_usage(deep=True).sum()/1000, 'kb')
'''
entry_type = parsed.id_lookup('link_types', 'entry')
entry_string_ids = parsed.links.loc[parsed.links['link_type_id'] == entry_type, 'tgt_string_id']

parsed.resolve_links().query('src_string.str.contains("nasa")').query('src_node_type != "shorthand_text"').query('tgt_node_type != "shorthand_text"')

parsed.resolve_links().query('link_type == "cited"').merge(parsed.links, left_index=True, right_index=True)

parsed.synthesize_entries(entry_node_type='work')

item_position            0     1                 2    3    4    5
src_string_id
7               asmith_bwu  1999            s_bams  101  803  xxx
12              asmith_bwu  1998            s_bams  100   42  yyy
19                  bjones  1975            s_jats   90    1    !
23                     bwu  1989      t_long title    !   80    !
26             Some Author  1989  t_A Title With #    !    !    !
46              asmith_bwu  2008            s_bams  110    1  zzz

0         asmith_bwu__1999__s_bams__101__803__xxx
1          asmith_bwu__1998__s_bams__100__42__yyy
2                  bjones__1975__s_jats__90__1__!
3               bwu__1989__t_long title__!__80__!
4    Some Author__1989__t_A Title With #__!__!__!
5           asmith_bwu__2008__s_bams__110__1__zzz
dtype: object

In [4]:
pd.concat([pd.Series([1,2,3]), pd.Series(['a','b','c'])], axis='columns', ignore_index=True)

   0  1
0  1  a
1  2  b
2  3  c

In [9]:
pd.DataFrame({'a':[1,2,2,4,1], 'b':[1,1,3,4,1]}).drop_duplicates()

   a  b
0  1  1
1  2  1
2  2  3
3  4  4