In [1]:
import pandas as pd
import shorthand as shnd

s = shnd.Shorthand(
    entry_syntax="shorthand/resources/default_entry_syntax.csv",
    link_syntax="shorthand/resources/default_link_syntax.csv",
    item_separator='__',
    default_entry_prefix='wrk',
    space_char='|',
    na_string_values='!',
    na_node_type='missing',
    syntax_case_sensitive=False
)
'''
parsed = s.parse_text(
    'shorthand/test_data/manual_annotation.shnd',
    skiprows=2,
    comment_char='#'
)
'''
parsed = s.parse_text(
    'shorthand/test_data/single_column.shnd',
    skiprows=0,
    comment_char='#',
    drop_na=False
)

links = parsed.links
links.iloc[60:]
'''
print('       strings', parsed.strings.memory_usage(deep=True).sum()/1000, 'kb')
print('         links', parsed.links.memory_usage(deep=True).sum()/1000, 'kb')
print('resolved links', parsed.resolve_links().memory_usage(deep=True).sum()/1000, 'kb')
'''
entry_type = parsed.id_lookup('link_types', 'entry')
entry_string_ids = parsed.links.loc[parsed.links['link_type_id'] == entry_type, 'tgt_string_id']

parsed.resolve_links().query('src_string.str.contains("nasa")').query('src_node_type != "shorthand_text"').query('tgt_node_type != "shorthand_text"')

parsed.resolve_links().query('link_type == "cited"').merge(parsed.links, left_index=True, right_index=True)

s = parsed.synthesize_entries('wrk', fill_spaces=True)

check = pd.Series([
    'asmith_bwu__1999__s_bams__101__803__xxx',
    'asmith_bwu__1998__s_bams__100__42__yyy',
    'bjones__1975__s_jats__90__1__!',
    'bwu__1989__t_long|title__!__80__!',
    'Some|Author__1989__t_A|Title|With|\\#__!__!__!',
    'asmith_bwu__2008__s_bams__110__1__zzz'
])

(check == s).all()

True

In [4]:
pd.concat([pd.Series([1,2,3]), pd.Series(['a','b','c'])], axis='columns', ignore_index=True)

   0  1
0  1  a
1  2  b
2  3  c

In [12]:
pd.Series(['_____', '__ ', 'a']).str.replace

Signature: str.replace(self, old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      method_descriptor

In [9]:
pd.read_csv('shorthand/test_data/single_column.shnd')

,left_entry,right_entry,link_tags_or_override,reference
0,asmith_bwu__1999__bams__101__803__xxx,NaN,NaN,NaN
1,asmith_bwu__1998__bams__100__42__yyy,NaN,NaN,NaN
2,bjones__1975__jats__90__1__ bjones1975_is_tagg...,NaN,NaN,NaN
3,bwu__1989__t_long|title__!__80,NaN,NaN,NaN
4,Some Author__1989__t_A Title With \#__!__!,NaN,NaN,NaN
5,asmith_bwu__2008__bams__110__1__zzz,NaN,NaN,NaN

In [6]:
from io import StringIO
import pandas as pd

with StringIO('left entry,\na,\nb,\nc,') as stream:
    a = pd.read_csv(stream)

a

  left entry  Unnamed: 1
0          a         NaN
1          b         NaN
2          c         NaN