In [7]:
import shorthand as shnd
s = shnd.Shorthand(
    entry_syntax="shorthand/resources/default_entry_syntax.csv",
    link_syntax="shorthand/resources/default_link_syntax.csv",
    item_separator='__',
    default_entry_prefix='wrk',
    space_char='|',
    na_string_values='!',
    na_node_type='missing',
    syntax_case_sensitive=False
)

parsed = s.parse_text(
    'shorthand/test_data/manual_annotation.shnd',
    skiprows=2,
    comment_char='#'
)
links = parsed.links
links.iloc[60:]
'''
print('       strings', parsed.strings.memory_usage(deep=True).sum()/1000, 'kb')
print('         links', parsed.links.memory_usage(deep=True).sum()/1000, 'kb')
print('resolved links', parsed.resolve_links().memory_usage(deep=True).sum()/1000, 'kb')
'''
entry_type = parsed.id_lookup('link_types', 'entry')
entry_string_ids = parsed.links.loc[parsed.links['link_type_id'] == entry_type, 'tgt_string_id']

parsed.resolve_links().query('src_string.str.contains("nasa")').query('src_string.str.contains("nasa")').query('src_node_type != "shorthand_text"').query('tgt_node_type != "shorthand_text"')

parsed.resolve_links().query('link_type == "entry"')

,src_string,tgt_string,link_type,ref_string,src_node_type,tgt_node_type,ref_node_type
45,This is stuff shorthand ignores when you use s...,asmith_bwu__1999__bams__101__803__xxx,entry,This is stuff shorthand ignores when you use s...,shorthand_text,works,shorthand_text
46,This is stuff shorthand ignores when you use s...,asmith_bwu__1998__bams__100__42__yyy,entry,This is stuff shorthand ignores when you use s...,shorthand_text,works,shorthand_text
47,This is stuff shorthand ignores when you use s...,bjones__1975__jats__90__1__ bjones1975_is_tagg...,entry,This is stuff shorthand ignores when you use s...,shorthand_text,works,shorthand_text
48,This is stuff shorthand ignores when you use s...,bwu__1989__t_long|title__!__80,entry,This is stuff shorthand ignores when you use s...,shorthand_text,works,shorthand_text
49,This is stuff shorthand ignores when you use s...,Some Author__1989__t_A Title With #__!__!,entry,This is stuff shorthand ignores when you use s...,shorthand_text,works,shorthand_text
50,This is stuff shorthand ignores when you use s...,fun__nasa__NASA|grant|12345-6789,entry,This is stuff shorthand ignores when you use s...,shorthand_text,agreements,shorthand_text
51,This is stuff shorthand ignores when you use s...,ack__margaret|lemone_some|other|person,entry,This is stuff shorthand ignores when you use s...,shorthand_text,NaN,shorthand_text
52,This is stuff shorthand ignores when you use s...,org__nasa_university|of|chicago,entry,This is stuff shorthand ignores when you use s...,shorthand_text,NaN,shorthand_text
53,This is stuff shorthand ignores when you use s...,"qte__super great quote, right?__",entry,This is stuff shorthand ignores when you use s...,shorthand_text,quotes,shorthand_text
54,This is stuff shorthand ignores when you use s...,qte__This is the abstract of the article. We d...,entry,This is stuff shorthand ignores when you use s...,shorthand_text,quotes,shorthand_text
55,This is stuff shorthand ignores when you use s...,not__this is an article I made up for testing_...,entry,This is stuff shorthand ignores when you use s...,shorthand_text,notes,shorthand_text
56,This is stuff shorthand ignores when you use s...,not__here's a note with an escaped\__item sepa...,entry,This is stuff shorthand ignores when you use s...,shorthand_text,notes,shorthand_text
57,This is stuff shorthand ignores when you use s...,asmith_bwu__2008__bams__110__1__zzz,entry,This is stuff shorthand ignores when you use s...,shorthand_text,works,shorthand_text

NameError: name 'parsed' is not defined

In [3]:
import pandas as pd

s = pd.DataFrame({
    'item_label': ['1', '2', '3', 'a', 'b'],
    'item_node_type': ['node1', pd.NA, 'node1', 'node2', 'node3'],
    'item_link_type': ['link1', pd.NA, 'link4', 'link2', 'link3'],
    'item_prefix_separator': [pd.NA, '_', pd.NA, pd.NA, pd.NA],
    'item_prefixes': [pd.NA, 'a b', pd.NA, pd.NA, pd.NA]
})

where_item_label_is_position = s['item_label'].str.isdigit()
unprefixed_items = s.loc[
    where_item_label_is_position & s['item_node_type'].notna()
]
prefixed_items = s.loc[
    where_item_label_is_position & s['item_node_type'].isna()
]
optional_items = s.loc[~s['item_label'].str.isdigit()]

s.groupby(by='item_node_type').apply(lambda x: print(x))

  item_label item_node_type item_link_type item_prefix_separator item_prefixes
0          1          node1          link1                  <NA>          <NA>
2          3          node1          link4                  <NA>          <NA>
  item_label item_node_type item_link_type item_prefix_separator item_prefixes
3          a          node2          link2                  <NA>          <NA>
  item_label item_node_type item_link_type item_prefix_separator item_prefixes
4          b          node3          link3                  <NA>          <NA>

Empty DataFrame
Columns: []
Index: []

In [84]:
import pandas as pd
m = pd.DataFrame({'a':[1,2,3,4,5,5], 'b':[pd.NA, '20', '30', pd.NA, 5, 4]}, index=[9,10,11,12,13,14])

result = m.groupby(by='a').apply(lambda x: x.loc[x['b'].astype(pd.Int32Dtype()).idxmin()] if x['b'].notna().any() else None)

pd.concat([m.query('b.isna()'), result.dropna()])

      a     b
9   1.0  <NA>
12  4.0  <NA>
2   2.0    20
3   3.0    30
5   5.0     4

In [4]:
import pandas as pd

pd.

0    1
1    2
2    3
5    s
6    t
4    y
3    z
dtype: object

In [28]:
strings = pd.DataFrame({
    'string': pd._testing.rands_array(500, int(1e6)),
    'node_type_id': pd.Series(range(1,6)).sample(int(1e6), replace=True)
})
strings.memory_usage(deep=True).sum()/1e6

573.0

In [2]:
import pandas as pd
pd.DataFrame.sort_values?

Signature:
pd.DataFrame.sort_values(
    self,
    by,
    axis: 'Axis' = 0,
    ascending=True,
    inplace: 'bool' = False,
    kind: 'str' = 'quicksort',
    na_position: 'str' = 'last',
    ignore_index: 'bool' = False,
    key: 'ValueKeyFunc' = None,
)
Docstring:
Sort by the values along either axis.

Parameters
----------
        by : str or list of str
            Name or list of names to sort by.

            - if `axis` is 0 or `'index'` then `by` may contain index
              levels and/or column labels.
            - if `axis` is 1 or `'columns'` then `by` may contain column
              levels and/or index labels.
axis : {0 or 'index', 1 or 'columns'}, default 0
     Axis to be sorted.
ascending : bool or list of bool, default True
     Sort ascending vs. descending. Specify list for multiple sort
     orders.  If this is a list of bools, must match the length of
     the by.
inplace : bool, default False
     If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
     Choice of sorting algorithm. See also :func:`numpy.sort` for more
     information. `mergesort` and `stable` are the only stable algorithms. For
     DataFrames, this option is only applied when sorting on a single
     column or label.
na_position : {'first', 'last'}, default 'last'
     Puts NaNs at the beginning if `first`; `last` puts NaNs at the
     end.
ignore_index : bool, default False
     If True, the resulting axis will be labeled 0, 1, â€¦, n - 1.

     .. versionadded:: 1.0.0

key : callable, optional
    Apply the key function to the values
    before sorting. This is similar to the `key` argument in the
    builtin :meth:`sorted` function, with the notable difference that
    this `key` function should be *vectorized*. It should expect a
    ``Series`` and return a Series with the same shape as the input.
    It will be applied to each column in `by` independently.

    .. versionadded:: 1.1.0

Returns
-------
DataFrame or None
    DataFrame with sorted values or None if ``inplace=True``.

See Also
--------
DataFrame.sort_index : Sort a DataFrame by the index.
Series.sort_values : Similar method for a Series.

Examples
--------
>>> df = pd.DataFrame({
...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2': [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],
...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
... })
>>> df
  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

Sort by col1

>>> df.sort_values(by=['col1'])
  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

Sort by multiple columns

>>> df.sort_values(by=['col1', 'col2'])
  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

Sort Descending

>>> df.sort_values(by='col1', ascending=False)
  col1  col2  col3 col4
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B
3  NaN     8     4    D

Putting NAs first

>>> df.sort_values(by='col1', ascending=False, na_position='first')
  col1  col2  col3 col4
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B

Sorting with a key function

>>> df.sort_values(by='col4', key=lambda col: col.str.lower())
   col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

Natural sort with the key argument,
using the `natsort <https://github.com/SethMMorton/natsort>` package.

>>> df = pd.DataFrame({
...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
...    "value": [10, 20, 30, 40, 50]
... })
>>> df
    time  value
0    0hr     10
1  128hr     20
2   72hr     30
3   48hr     40
4   96hr     50
>>> from natsort import index_natsorted
>>> df.sort_values(
...    by="time",
...    key=lambda x: np.argsort(index_natsorted(df["time"]))
... )
    time  value
0    0hr     10
3   48hr     40
2   72hr     30
4   96hr     50
1  128hr     20
File:      c:\users\short\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages\pandas\core\frame.py
Type:      function